/*This is the CSS page connected to my Contact.HTML*/
body{
   /*https://cssgradient.io*/
  background: rgb(239, 213, 242);
  background: radial-gradient(circle, rgba(239, 213, 242, 1) 16%, rgba(210, 162, 242, 1) 30%, rgba(183, 141, 242, 1) 49%, rgba(109, 191, 242, 1) 69%, rgba(187, 221, 242, 1) 86%);
}
.contacttitle{
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style:italic;
    display: flex;
    justify-content: center;

}
.socials{
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-style: normal;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div{
    text-align: center;
}


#map { height: 400px; }