/*This is the CSS page connected to my Prices.HTML*/
body{
    background-color:#D2A2F2;
}

.sessions{
    display: flex;
    justify-content: center;
}

.pricetitle{
    display: flex;
    justify-content: center;
    background-color:#EFD5F2;
    padding:0.5em;
    font-family: "Playfair Display", serif;
    font-optical-sizing:auto;
    font-weight:500;
    font-style :italic;
}

h3{
    background-color:#EFD5F2;
    padding:1.5em;
    font-family: "Playfair Display", serif;
    font-optical-sizing:auto;
    font-weight:600;
    font-style :normal;
}

.accordion-body{
  background-color: aliceblue;
}
.accordion-button{
  background-color:#BBDDF2;
}
.accordion-buttoncollapsed{
  font-family: "Playfair Display", serif;
  font-optical-sizing:auto;
  font-weight:400;
  font-style :normal;
  font-size: 15px;
}
ul{
    font-size:16px;
}

li{
  font-family: "Playfair Display", serif;
  font-optical-sizing:auto;
  font-weight:400;
  font-style :normal;
  font-size: 15px;
}

.table-2 {
    margin: 0 auto;
}

    .table-2 td,
    .table-2 th {
        font-family: "Playfair Display", serif;
    }
    
    .table-2 th {
      table-layout: fixed;
      width: 90%;
      border-collapse: collapse;
      border: 2px solid white;
    }
    
    .table-2 td {
      table-layout: fixed;
      width: 90%;
      border-collapse: collapse;
      border: 2px solid white;
    }
    
    .table-2 td {
      background-color:aliceblue;
    }
    
    .table-2 th {
      background-color:#BBDDF2;
      color: black;
    
    
    }
