
body{
    background-color:#D2A2F2;
}

.sessions{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    background-color:#EFD5F2;
    padding:0.5em;
    border-radius:45%;
    font-family: "Playfair Display", serif;
    font-optical-sizing:auto;
    font-weight:700;
    font-style :italic;
}

h3{
    background-color:#EFD5F2;
    padding:1.5em;
    font-family: "Playfair Display", serif;
    font-optical-sizing:auto;
    font-weight:600;
    font-style :normal;
}

.top{
    background-color: aliceblue;
}

.middle{
    background-color: aliceblue; 
}

.bottom{
    background-color: aliceblue;
}

ul{
    font-size:16px;
}

li{
  font-family: "Playfair Display", serif;
  font-optical-sizing:auto;
  font-weight:400;
  font-style :normal;
  font-size: 15px;
}

.table-2 {
    margin: 0 auto;
}

    .table-2 td,
    .table-2 th {
        font-family: "Playfair Display", serif;
    }
    
    .table-2 th {
      table-layout: fixed;
      width: 90%;
      border-collapse: collapse;
      border: 2px solid white;
    }
    
    .table-2 td {
      table-layout: fixed;
      width: 90%;
      border-collapse: collapse;
      border: 2px solid white;
    }
    
    .table-2 td {
      background-color:aliceblue;
    }
    
    .table-2 th {
      background-color:#BBDDF2;
      color: black;
    
    
    }

    nav {
        position: fixed;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 1000;
      }
      
      nav ul {
        margin: 0;
        padding: 0;
        /* optional but good for control */
        display: flex;
        flex-direction: column;
        gap: 1.0rem;
      }
      
      nav li {
        list-style-type: none;
        padding: 0.5em;
      }
      
      .toggle:hover {
        color: #B78DF2;
        cursor: pointer;
      }
      
      .item {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        position: relative;
        z-index: 1001;
      }
      
      .item a:hover {
        color: #B78DF2;
      }
      
      .item a {
        color: black;
        font-size: 20px;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.5rem 1.0rem;
        cursor: pointer;
      }
      
      .show {
        visibility: visible;
        opacity: 1;
      }
      
      .item.show {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }